:root{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	--bg-color: #1A2238;
	--text-color: #FFFFFF;
	--main-color: #9DAAF2;
	--second-color: #FFF;
	--other-color: #12141c;
	--h1-font: 16rem;
	--h2-font: 12rem;
	--h3-font: 8rem;
	--p-font: 4rem;
	font-family: 'Quicksand', sans-serif;
	scroll-behavior:smooth;
	text-align: justify;
}

body{
	background: var(--bg-color);
	color: var(--text-color);
	text-align: center;
}

.container2 {
	position: relative;
}

.box1{
position: absolute;
padding: 10px;
box-sizing:border-box;
text-align: left;
width: 600px;
border: 10px;
margin: 10px;
cursor: pointer;
	
}
#asim-photo {
	width: 35rem;
	height: 39rem;
	position:absolute;
	top: 115px;
	left: 125px;
	border-radius: 10%;
}

.content {
	max-width: 640px;
	margin: auto;
}

.about-text h2{
	font-size: var(--h2-font);
	text-align: center;
}

span{
    color: var(--main-color);
}

span1{
	color:#9DAAF2;
}

.box{
	background-color: #12141c;
	padding: 50px;
	box-sizing: border-box;
	text-align: center;
  	width: 600px;
  	border: 10px;
  	margin: 15px;
	cursor: pointer;

}

  /* The navbar */
  .topNav a {
	color: #FFFFFF;;
	text-align: right;
	text-decoration: none;
	padding: 14px 12px;
	font-size: 20px;
	float: right;

}

.topNav a:hover {
	color: #9DAAF2;
} 

.scroll-container {
	position: absolute;
	top: 0;
	right:0;
    height: 100%;
}

  /*fixed to right bottom of page*/
  .scroll-container img {
	position: fixed;
	bottom: 1.5em;
	right: 1em;
	cursor: pointer;
	width: 40px;
	height: 40px;
	background: #9DAAF2;
	border: 3px solid #9DAAF2;
	border-radius: 25%;
	display: flex;
  }