:root{
	--bg-color: #1A2238;
	--text-color: #FFFFFF;
	--main-color: #9DAAF2;
	--second-color: #FFF;
	--other-color: #12141c;
	--h1-font: 4rem;
	--h2-font: 3rem;
	--p-font: 1rem;
}

body{
	background: var(--bg-color);
	color: var(--text-color);
}

span{
    color: var(--main-color);
}